<form class="js-form" method="{{form.method | default('POST')}}" action="{{site.uri.public}}/{{form.action}}">
    {% include "forms/csrf.html.twig" %}
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{ translate('PASTRIES.NAME') }}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="name" autocomplete="off"
                           value="{{pastry.name}}" placeholder="{{ translate('PASTRIES.NAME') }}"
                    >
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>{{ translate('PASTRIES.ORIGIN') }}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="origin" autocomplete="off"
                           value="{{pastry.origin}}" placeholder="{{ translate('PASTRIES.ORIGIN') }}"
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>{{ translate('PASTRIES.DESCRIPTION') }}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="description" autocomplete="off"
                           value="{{pastry.description}}" placeholder="{{ translate('PASTRIES.DESCRIPTION') }}"
                    >
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">{{form.submit_text}}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</form>

<!-- Include validation rules -->
<script>
    {% include "pages/partials/page.js.twig" %}
</script>