{% extends '@admin/navigation/sidebar-menu.html.twig' %}

{% block navigation %}
    {{ parent() }}
    <li>
        <a href="{{ site.uri.public }}/account/settings">
            <i class="fa fa-sliders-h fa-fw"></i> <span>{{ translate("ACCOUNT.MY") }}</span>
        </a>
    </li>
    {# {% if checkAccess('see_pastries') %}
        <li>
            <a href="{{ site.uri.public }}/pastries">
                <i class="fa fa-utensils fa-fw"></i> <span>{{translate('PASTRIES')}}</span>
            </a>
        </li>
    {% endif %} #}
    {# <li>
        <a href="{{site.uri.public}}/members">
            <i class="fa fa-rocket fa-fw"></i> <span>{{translate('MEMBERS')}}</span>
        </a>
    </li> #}
    {% if checkAccess("usuario_unlu") %}
    <li>
        <a href="{{site.uri.public}}/unlu">
            <i class="fa fa-university fa-fw"></i> <span>UNLu</span>
        </a>
    </li>
    {% endif %}
{% endblock %}