{% extends 'pages/abstract/dashboard.html.twig' %}

{# Overrides blocks in head of base template #}
{% block page_title %}UNLu{% endblock %}
{% block page_description %}UNLu{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-sm-4">
            <a href="{{ site.uri.public }}/solicitar-vinculacion">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fas fa-file-contract fa-fw"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Solicitar Vinculación</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="{{ site.uri.public }}/solicitar-servicio">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fas fa-plus-circle fa-fw"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Solicitar Servicio</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="{{ site.uri.public }}/baja-solicitud">
                <div class="info-box">
                    <span class="info-box-icon bg-blue"><i class="fas fa-minus-circle fa-fw"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Baja Solicitud</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <!-- Vinculaciones -->
        <div class="col-sm-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3>Vinculaciones</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th>Responsable</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vinculacion in vinculaciones %}
                            <tr>
                                <td>{{ vinculacion.descripcion }}</td>
                                <td>{{ vinculacion.responsable }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Peticiones -->
        <div class="col-sm-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3>Peticiones</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th>Servicio</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for peticion in peticiones %}
                            <tr>
                                <td>{{ peticion.descripcion }}</td>
                                <td>{{ peticion.id_servicio }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}