<form class="js-form" method="{{ form.method | default('POST') }}" action="{{ site.uri.public }}/{{ form.action }}">
    {% include "forms/csrf.html.twig" %}
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Responsable</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="responsable" autocomplete="off"
                           value="{{ vinc.responsable }}" placeholder="Responsable">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Cargo</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="cargo" autocomplete="off"
                           value="{{ vinc.cargo }}" placeholder="Cargo">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {# <div class="form-group">
                <label>Tipo de Usuario</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="tipo_de_usuario" autocomplete="off"
                           value="{{ vinc.tipo_de_usuario }}" placeholder="Tipo de usuario">
                </div>
            </div> #}
            <div class="form-group">
                <label for="input-tipo" class="control-label">Tipo de Usuario</label>
                <select id="input-tipo" class="form-control js-select2" name="tipo_de_usuario" {{page.visibility}}>
                    {% for option, label in tipos_de_usuario %}
                        {% if label is not empty %}
                            <option value="{{option}}" {% if (option == vinc.tipo_de_usuario) %}selected{% endif %}>{{label}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <p class="help-block">{{translate("LOCALE.ACCOUNT")}}.</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Actividad</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="actividad" autocomplete="off"
                           value="{{ vinc.actividad }}" placeholder="Actividad">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Teléfono</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="telefono" autocomplete="off"
                           value="{{ vinc.telefono }}" placeholder="Teléfono">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Correo</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="correo" autocomplete="off"
                           value="{{ vinc.correo }}" placeholder="Correo">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Fecha de Finalización</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="fecha-fin" autocomplete="off"
                           value="{{ vinc.fecha_fin }}" placeholder="Fecha de Finalización">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Descripción</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fas fa-edit fa-fw"></i></span>
                    <input type="text" class="form-control" name="descripction" autocomplete="off"
                           value="{{ vinc.descripcion}}" placeholder="Descripción">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-sm-4">
            <button type="submit" class="btn btn-block btn-lg btn-success">{{form.submit_text}}</button>
        </div>
        <div class="col-xs-4 col-sm-3 pull-right">
            <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">Cancelar</button>
        </div>
    </div>
</form>

<!-- Include validation rules -->
<script>
    {% include "pages/partials/page.js.twig" %}
</script>